{{!-- header-img start ============================== --}}
    <section id="hero-area">
      <img class="img-responsive" src="images/header.jpg" alt="">
    </section>


{{!-- Slider start ============================== --}}
    <section id="slider">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block wow fadeInUp" data-wow-duration="500ms" data-wow-delay="300ms">
                        <div class="title">
                            <h3>A recipe application for you and what's in your fridge.</h3>
                        </div>
                        <div id="owl-example" class="owl-carousel">
                            <div>
                                <img class="img-responsive" src="images/slider/slider-img-1.jpg" alt="">
                            </div>
                            <div>
                                <img class="img-responsive" src="images/slider/slider-img-2.jpg" alt="">
                            </div>
                            <div>
                                <img class="img-responsive" src="images/slider/slider-img-3.jpg" alt="">
                            </div>
                            <div>
                                <img class="img-responsive" src="images/slider/slider-img-4.jpg" alt="">
                            </div>
                            <div>
                                <img class="img-responsive" src="images/slider/slider-img-1.jpg" alt="">
                            </div>
                            <div>
                                <img class="img-responsive" src="images/slider/slider-img-2.jpg" alt="">
                            </div>
                            <div>
                                <img class="img-responsive" src="images/slider/slider-img-3.jpg" alt="">
                            </div>
                            <div>
                                <img class="img-responsive" src="images/slider/slider-img-4.jpg" alt="">
                            </div>
                        
                        </div>
                    </div>
                </div>{{!-- .col-md-12 close --}}
            </div>{{!-- .row close --}}
        </div>{{!-- .container close --}}
    </section>{{!-- slider close --}}

{{!-- Options Starts Here : ============================== --}}
    <section id="about-us">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="block">
                        <img class="wow fadeInUp" data-wow-duration="300ms" data-wow-delay="400ms" src="images/cooker-img.png" alt="cooker-img">
                        <h1 class="heading wow fadeInUp" data-wow-duration="400ms" data-wow-delay="500ms" >What <span> would you like to do ? </span> </br> 
                        <button><a href="/recipe">Go to recipes</a></button>
                        </h1>
                        <h1> <button> <a href="/ingredient">Go to Ingredients</a></button> </h1>
                    </div>
                </div>{{!-- .col-md-12 close --}}
            </div>{{!-- .row close --}}
        </div>{{!-- .containe close --}}
    </section>{{!-- #call-to-action close --}}