
  {{! ************* MAIN HEADING}}
  <div class="container">
    <div class="row"
      <div class="col-md-12">
        <div class="block">
            <h1 class="heading"><span> HERE WE ARE </span>
            </h1>
            {{title}}
        </div>
      </div>
    </div>
  </div>


